nav{
    height:90px;
}

.qw{
    border-top: 4px solid #2b3147;
}

.banner{
    background-color: #2c324a;
}

.banner input{
    font-size: 20px;
}

.banner h1{
    font-size: 46px;
    font-weight: 640;
}

.ind{
    height:70vh;
} 

.search-section{
    background-color: white;
    width:294px;
    /* height: 48px; */
    height: 56px;
    border-radius:6px;
}
.search-section input::placeholder{
    font-size: 20px;
}

.search-section input{
    border:none;
    outline: none; 
    width:255px;
    height: 35px;
}

.search-btn{
    border:none;
    background: none;
}

.shop-btn{
    height: 100px;
}

.catigories,.testimonial{
    background-color: #f7f7f7;
}

.card-btn{
    border-radius:0;
}

.decoration-line{
    border-bottom:3px solid #2b3147;
    width:100px;
    margin: 0px auto;
}

.cart-btn{
    border-radius:0;
    font-weight: 600;
}


.carousel-inner{
    width:90%;
    margin:0px auto;
}


.carousel-control-prev,
.carousel-control-next
{
    width:3%;
}

.carousel-control-prev-icon{
    background-image: url('images/arrow-left-slider.png');
}

.carousel-control-next-icon{
    background-image: url('images/arrow-right-slider.png');
}

.testimonial-pic{
    border-radius:100%;
    width: 70px;
    height: 70px;
}

.footer-line{
    border-top:3px solid white;
}

.footer{
    background: #2b3147;
}

.copyright{
    color: rgba(255, 255, 255, .6);
}


/* ####################################################Cart Page####################################################### */

.cart-heading{
    background-color: #2b3147;
    color:#ffff;
    height:120px;
}
/* ################################################################################################################# */


/* ########################################################Sign In#################################################### */

.pppp{
    height: 80vh;
}
/* #################################################################################################################### */


/* #############################################ADMIN PAGE########################################################## */
.admin-header{
    background-color: #2b3147;
    color:white;
}

.add-product{
    background-color: #2b3147;
}
/* #################################################################################################################### */


/* #############################################Checkout PAGE########################################################## */
#cod-section, #jazz-section, #easy-section, #banktransfer-section, #codc{
    display: none;
}


/* #################################################################################################################### */


/* #############################################Checkout PAGE########################################################## */
.pob{
    background: #2b3147;
}


/* #################################################################################################################### */


/* #############################################Place Order PAGE########################################################## */
.user-detail-heading{
    /* border-bottom: 4px solid #2b3147; */
    border-bottom: 3px solid #2b3147;
    display: inline-block;
}
/* #################################################################################################################### */
